@font-face {
    src: url(../../assets/fonts/Raleway-Bold.ttf);
    font-family: raleway-bold;
}

@font-face {
    src: url(../../assets/fonts/Raleway-Medium.ttf);
    font-family: raleway-medium;
}

@font-face {
    src: url(../../assets/fonts/Raleway-SemiBold.ttf);
    font-family: raleway-semi;
}

@font-face {
    src: url(../../assets/fonts/Raleway-Thin.ttf);
    font-family: raleway-thin;
}